<% content_for :head do %>
	<script type="text/javascript">
		<%= render :partial => "reminders_ajax.js.erb" %>
	</script>
<% end %>

<h3 class="content-item">Reminders</h3>
<% if flash[:notice] %>
	<div class="alert alert-success"><%= flash[:notice] %></div>
<% elsif flash[:alert] %>
	<div class="alert alert-danger"><%= flash[:alert] %></div>
<% end %>

<%= form_for :reminder, html: {:class => "form-inline", :role => "form"} do |f| %>
	<div class="form-group col-lg-4 reminder-group">	
		<%= f.label :subject, :class => "sr-only" %>
		<%= f.text_field :subject, :class => "form-control", :placeholder => "Subject", :required => true %>
	</div>
	<div class="form-group col-lg-4 reminder-group">
		<%= f.label :recipient, :class => "sr-only" %>
		<%= f.text_field :recipient, :class => "form-control", :placeholder => "Email" %>
	</div>
	<div class="form-group col-lg-2 reminder-group">
		<%= f.label :date, :class => "sr-only" %>
		<%= f.text_field :date, :class => "form-control", :placeholder => "Remind on", :required => true %>
	</div>
	<%= f.submit 'Add', :class => "btn btn-primary btn-inline", 
		:id => "add-reminder-btn", :disabled => true %>
<% end %>

<br/><br/>
<div class="panel panel-success">
	<table class="table table-hover">
		<tr class="success">
			<th>Subject</th>
			<th>Recipient</th>
			<th>Schedule on</th>
			<th>Status</th>
			<th></th>
		</tr>

		<% @reminders.each do |reminder| %>
		<tr id="reminder-<%= reminder.id %>">
			<td><%= reminder.subject %></td>
			<td><%= reminder.recipient %></td>
			<td><%= reminder.date %></td>
			<td><%= reminder.status %></td>
			<td><%= link_to "Remove", reminder, :method => :delete %></td>
		</tr>
		<% end %>
	</table>
</div>