<div class="panel panel-default">
	<div class="panel-heading">
		<h5 class="panel-title">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" 
				href="#reference-<%= project_reference.id %>">
				<%= project_reference.reference_source %>
			</a>
		</h5>
		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" 
			href="#reference-<%= project_reference.id %>">Show</a> | 
		<%= link_to "Link", project_reference.reference_url %> | 
		<%= link_to "Edit", edit_project_reference_path(project_reference), remote: true %> |  
		<%= link_to "Delete", project_reference, :data => { :confirm => "Are you sure?" }, :method => :delete %>
	</div>

	<div id="reference-<%= project_reference.id %>" class="panel-collapse collapse">
		<div class="panel-body">
			<%= project_reference.content %>
		</div>
	</div>
</div>