<div class="panel panel-default">
	<div class="panel-heading">
		<h5 class="panel-title">
			<%= project_reference.reference_source %>
		</h5>
		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" 
			href="#reference-<%= project_reference.id %>">Show</a> | 
		<%= link_to "Link", project_reference.reference_url %>
		<% if can? :edit, ProjectReference %>
			| <%= link_to "Edit", edit_project_reference_path(project_reference), remote: true %> |  
			<%= link_to "Delete", project_reference, :data => { :confirm => "Are you sure?" }, :method => :delete %>
		<% end %>
	</div>

	<div id="reference-<%= project_reference.id %>" class="panel-collapse collapse">
		<div class="panel-body">
			<% if project_reference.author.to_s != '' %>
				<strong>Author:</strong>
				<%= project_reference.author %><br/>
			<% end %>
			<% if project_reference.publisher.to_s != '' %>
				<strong>Publisher:</strong>
				<%= project_reference.publisher %><br/>
			<% end %>
			<% if project_reference.year.to_s != '' %>
				<strong>Year:</strong>
				<%= project_reference.year %><br/>
			<% end %>
			<% if project_reference.content.to_s != '' %>
				<strong>Content:</strong><br/>
				<%= raw(simple_format(project_reference.content)) %>
			<% end %>
		</div>
	</div>
</div>