<h1 class="content-item">Notification Center</h1>
<% if flash[:notice] %>
	<div class="alert alert-success alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<%= flash[:notice] %>
	</div>
<% elsif flash[:alert] %>
	<div class="alert alert-danger alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<%= flash[:alert] %>
	</div>
<% end %>

<h2 id="my-preference" class="content-item">My Preference</h2>
<%= form_for current_user, html: { :class => "form-horizontal" } do |f| %>
  <div class="form-group">
  	<label class="col-lg-1 control-label"></label>
    <div class="col-lg-11">
      <%= f.check_box :notif_on %> Receive Notification from others
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-1 control-label"></label>
    <div class="col-lg-11">
      <%= f.check_box :reminder_on %> Receive Reminders from myself and others
    </div>
  </div>

   <div class="form-group">
    <label class="col-lg-1 control-label"></label>
    <div class="col-lg-11">
      <%= f.check_box :upload_confirm_on %> Receive Upload confirmation
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit 'Save', :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>

<hr>

<h2 id="new-notifications" class="content-item">New Notifications</h2>
<div class="panel panel-success">
  <table class="table table-hover">
    <tr class="success">
      <th>From</th>
      <th>Message</th>
      <th>Sent on</th>
    </tr>
    <% @notifications.each do |notification| %>
    <tr <% unless notification.is_view %>class="warning"<% end %> >
      <td>
        <% unless notification.is_view %>
          <span class="badge">new</span>
        <% end %>
        <%= notification.sender %>
      </td>
      <td><%= notification.content %></td>
      <td><%= notification.created_at %></td>
    </tr>
    <% end %>
  </table>
</div>

<hr>

<h2 id="sent-notifications" class="content-item">Sent Notifications</h2>
<div class="panel panel-success">
	<table class="table table-hover">
		<tr class="success">
			<th>To</th>
      <th>Message</th>
			<th>Sent on</th>
		</tr>

		<% @my_notifications.each do |notification| %>
		<tr>
			<td><%= notification.recipient %></td>
      <td><%= notification.content %></td>
			<td><%= notification.created_at %></td>
		</tr>
		<% end %>
	</table>
</div>