<h3>Personal Info</h3>
<div><%= f.label :first_name %><br />
<%= f.text_field :first_name, :class => "form-control" %></div>

<div><%= f.label :last_name %><br />
<%= f.text_field :last_name, :class => "form-control" %></div>

<div><%= f.label :title %>
<%= f.select(:title, [['Mr.', 'Mr.'], ['Ms.', 'Ms.'], ['Prof.', 'Prof.'], ['Assoc. Prof.', 'Assoc. Prof.'],['Dr.', 'Dr.']]) %>
</div>

<div>
<% if can? :assign_super_admin, current_user %>
  <%= f.label :role %>
  <%= f.select(:role, [['Admin', 'Admin'], ['Student', 'Student'], ['Professor', 'Professor'], ['Manager', 'Manager']]) %>
<% elsif can? :write, User %>
  <%= f.label :role %>
  <%= f.select(:role, [['Student', 'Student'], ['Professor', 'Professor'], ['Manager', 'Manager']]) %>
<% end %>
<br/>

<% if can? :manage, University %>
  <div><%= f.label :university %>	
  	<%= select_tag(:university, options_from_collection_for_select(University.all, :id, :name)) %>
  </div>
<% else %>
	<%= hidden_field_tag(:university, current_user.university.id) %>
<% end %>

<% if can? :manage, Department %>
  <div><%= f.label :department %>	
    <% departments_array = current_user.university.departments.all.map { |department| [department.name, department.id] } %>
    <% if user.try(:new_record?) %>
      <%= f.select :department_id, options_for_select(departments_array) %>
    <% else %>
      <%= f.select :department_id, options_for_select(departments_array, user.department.id) %>
    <% end %>
  </div>
<% end %>
</div>
