<h2>Create New User</h2>

<%= form_for @user, url: {action: "create_new"}, html: {class: "input-group"}  do |f| %>
  <% if flash[:notice] %>
    <div class="alert alert-success"><%= flash[:notice] %></div>
  <% end %>

  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %> 

  <div><%= f.label :email %><br/>
  <%= f.email_field :email, :class => "form-control", :autofocus => true %></div>

  <div><%= f.label :password %><br/>
  <%= f.password_field :password, :class => "form-control" %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, :class => "form-control" %></div>
 
  <div><%= f.label :first_name %><br />
  <%= f.text_field :first_name, :class => "form-control" %></div>

  <div><%= f.label :last_name %><br />
  <%= f.text_field :last_name, :class => "form-control" %></div>

  <div><%= f.label :title %><br />
  <%= f.text_field :title, :class => "form-control" %></div>

  <div><%= f.label :university %><br />
  <%= f.text_field :university, :class => "form-control" %></div>

  <div><%= f.label :department %><br />
  <%= f.text_field :department, :class => "form-control" %></div>

  <div><%= f.label :level %>
  <%= f.select(:level, [['admin', 0], ['student',10], ['professor', 11], ['moderator', 12]]) %></div>

  <div><%= f.submit "Create", :class => "btn btn-primary" %> <%= link_to "Back", :back, :class => "btn btn-default" %></div>
<% end %>
