<h2 class="content-item">Create New User</h2>

<%= form_for @user, url: {action: "create_new"}, html: {class: "input-group"}  do |f| %>
  <% if flash[:notice] %>
    <div class="alert alert-success"><%= flash[:notice] %></div>
  <% end %>

  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %> 

  <div><%= f.label :email %><br/>
    <%= f.email_field :email, :class => "form-control", :autofocus => true, :autocomplete => "off" %></div>

  <div><%= f.label :password %><br/>
  <%= f.password_field :password, :class => "form-control" %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, :class => "form-control" %></div>
 
  <%= render 'personal_fields', :f => f %>

  <div><%= f.submit "Create", :class => "btn btn-primary" %></div>
<% end %>

<%= render 'import' %>
