<h2 id="new-user" class="content-item">Create New User</h2>

<%= form_for @user, url: {action: "create_new"}, html: {class: "input-group"}  do |f| %>
  <% if flash[:notice] %>
    <div class="alert alert-success"><%= flash[:notice] %></div>
  <% end %>

  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %> 

  <div><%= f.label :email %><br/>
    <%= f.email_field :email, :class => "form-control", :autofocus => true, :autocomplete => "off" %></div>

  <div><%= f.label :password %><br/>
  <%= f.password_field :password, :class => "form-control" %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, :class => "form-control" %></div>
 
  <%= render 'personal_fields', :f => f, :user => @user %>

  <div><%= f.submit "Create", :class => "btn btn-primary" %></div>
<% end %>

<hr>

<h2 id="import-user" class="content-item">Import Users</h2>
<%= form_tag({action: :import}, class: 'input-group') do %>
  <div><%= label_tag :role %>
    <%= select_tag :role, options_for_select([['Student', 'Student'], ['Professor', 'Professor'], ['Manager', 'Manager']]) %></div>
  <div><%= text_area_tag 'email_list', nil, size: '50x4', class: 'form-control', placeholder: 'Enter email addresses, 1 per line'  %></div>

  <br/>
  <div><%= submit_tag ('Import'), :class => 'btn btn-primary'  %></div>
<% end %>

<% if flash[:notice] %>
  <div class="label label-success"><%= flash[:notice] %></div>
<% end %>

