<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(@user, :html => { :method => :put, :class => "input-group" }) do |f| %>
  <%= devise_error_messages! %>

  <h3>Login Credentials</h3>
  <div><%= f.label :email %><br />
    <%= f.email_field :email, :class => "form-control", :autofocus => true %></div>

  <%= render 'personal_fields', :f => f, :user => @user %>

  <div><%= f.submit "Update", :class => "btn btn-primary" %></div>
<% end %>
