<h2>Import Users</h2>

<%= form_tag({action: :import}, class: 'input-group') do %>
  <div><%= label_tag :role %>
    <%= select_tag :role, options_for_select([['Student', 'Student'], ['Professor', 'Professor'], ['Manager', 'Manager']]) %></div>
  <div><%= text_area_tag 'email_list', nil, size: '50x4', class: 'form-control', placeholder: 'Enter email addresses, 1 per line'  %></div>
  <div><%= submit_tag ('Import'), :class => 'btn btn-primary'  %></div>
<% end %>

<% if flash[:notice] %>
  <div class="label label-success"><%= flash[:notice] %></div>
<% end %>
