<h2>Manage Users</h2>

<% if flash[:notice] %>
  <div class="alert alert-danger alert-dismissable">
    <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
    <%= flash[:notice] %>
  </div>
<% end %>

<div class="panel panel-success">
  <table id="users-table" class="table table-hover">
    <tr class="success">
      <th>Role</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <% if can? :write, University %>
        <th>University</th>
      <% end %>
      <% if can? :read, Department && current_user.role != 'Admin' %>
        <th>Department</th>
      <% end %>
      <th>
        <% if can? :add, User %>
          <%= link_to 'Add User', add_user_path %>
        <% end %>
      </th>
    </tr>

    <% @users.each do |user| %>
    <tr>
      <td><%= user.role %></td>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.email %></td>
      <% if can? :write, University %>
        <td><%= link_to user.university.name, university_path(user.university.id) %></td>
      <% end %> 
      <% if can? :read, Department && current_user.role != 'Admin' %>
        <td><%= user.department.name %></td>
      <% end %>     
      <td>
        <%= link_to "Show", user %>
        <% if can? :edit, user %>
        | <%= link_to "Edit", edit_user_path(user) %>
        <% end %>
        <% if can? :destroy, user %>
        | <%= link_to "Delete", user, :data => { :confirm => "Are you sure?" }, :method => :delete %></td>
        <% end %>  
      </td>
    </tr>
    <% end %>
  </table>
</div>