<h2>Forgot your password?</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "form-horizontal" }) do |f| %>
	
	<% if devise_error_messages! != "" %>
		<div class="alert alert-danger"><%= devise_error_messages! %></div>
	<% end %>

	<div class="form-group">
	<%= f.label :email, :class => "col-lg-2 control-label" %>
		<div class="col-lg-10">
			<%= f.email_field :email, :autofocus => true, :class => "form-control" %>
		</div>
	</div>

	<div class="form-group">
		<label class="col-lg-2 control-label"></label>
		<div class="col-lg-10">
			<%= f.submit "Send reset password instructions", :class => "btn btn-primary" %> 
			<br/>
			<%= render "devise/shared/links" %>
		</div>
	</div>
<% end %>

	
