<% if @project.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% for message in @project.errors.full_messages %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %> 

<%= form_for shallow_args(current_user, @project), html: {class: "form-horizontal"} do |f| %>
  <div class="form-group">
    <%= f.label :title, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :title, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :abstract, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_area :abstract, :class => "form-control", size: "70x10" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
