<h2>Manage Universities</h2>

<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>

<%= link_to 'Add University', new_university_path, :class => "btn btn-success btn-large btn-block" %>

<div class="panel panel-success">
  <table class="table table-hover">
    <tr class="success">
      <th>University</th>
      <th>Description</th>
      <th></th>
    </tr>

    <% @universities.each do |university| %>
    <tr>
      <td><%= university.name %></td>
      <td><%= university.description %></td>
      <td>
        <%= link_to "Show", university %> |
        <%= link_to "Edit", edit_university_path(university) %> |
        <%= link_to "Delete", university, :data => { :confirm => "Are you sure?" }, :method => :delete %></td> 
      </td>
    </tr>
    <% end %>
  </table>
</div>