<h2 class="content-item">University Details</h2>

<p>
  <strong>University Name:</strong>
  <%= @university.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @university.description %>
</p>

<%= link_to "Back", universities_path %>
<% if can? :edit, @university %>
  | <%= link_to "Edit", edit_university_path(@university) %>
<% end %>
<% if can? :destroy, @university %>
  | <%= link_to "Delete", @university, :data => { :confirm => "Are you sure?" }, :method => :delete %></td>
<% end %> 