<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <%= link_to "TMS", root_path, :class => 'navbar-brand' %>
  </div>

  <ul class="nav nav-tabs navbar-nav">
    <% if user_signed_in? %>
      <%= nav_link 'Home', home_index_path %>
      <% if can? :read, User, :index => true %>
        <%= nav_link 'Manage Users', users_path %>
      <% end %> 
      <% if can? :add, User %>
        <%= nav_link 'Create User', add_user_path %>
      <% end %>
      
      <li>
        <a data-toggle="dropdown" href="#">Project</a>
        <ul class="dropdown-menu" role="menu" aira-labelledby="dLabel">
          <% if can? :create, Project %>
            <%= nav_link 'New Project', new_user_project_path(current_user) %>
          <% end %>
        </ul>
      </li>

      <%= nav_link 'Reminders', user_reminders_path(current_user) %>
    <% end %>
  </ul>
  <ul class="nav navbar-nav pull-right">
    <% if user_signed_in? %>
      <%= nav_link current_user.first_name + " " + current_user.last_name, edit_user_registration_path %>
      <li>
      <%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %>
      </li>
    <% else %>
      <%= nav_link 'Sign in', new_user_session_path %>
    <% end %>
  </ul>
</nav>
