<%= link_to "TMS", root_path, :class => 'navbar-brand' %>
<ul class="nav navbar-nav">
  <% if user_signed_in? %>
    <% if can? :read, User, :index => true %>
      <%= nav_link 'Manage Users', users_path %>
    <% end %> 
    <% if can? :add, User %>
      <%= nav_link 'Create User', add_user_path %>
    <% end %>
    
    <li>
      <a data-toggle="dropdown" href="#">Project</a>
      <ul class="dropdown-menu" role="menu" aira-labelledby="dLabel">
        <% if can? :create, Project %>
          <%= nav_link 'New Project', new_user_project_path(current_user) %>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>

<ul class="nav navbar-nav pull-right">
  <% if user_signed_in? %>
    <%= nav_link 'My Account', edit_user_registration_path %>
    <li>
    <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
    </li>
  <% else %>
    <%= nav_link 'Login', new_user_session_path %>
  <% end %>
</ul>
