<nav id="tms-navbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <%= link_to "TMS", root_path, :class => 'navbar-brand' %>
  </div>

  <ul class="nav nav-tabs navbar-nav">
    <% if user_signed_in? %>
    
      <% if current_user.role == 'Student' %>
        <% if current_user.projects[0].try(:new_record?) || current_user.projects.empty? %>
          <%= nav_link 'New Project', new_user_project_path(current_user) %>
        <% else %>
          <%= nav_link 'Home', project_path(current_user.projects[0]) %>
        <% end %>
      <% elsif current_user.role == 'Professor' %>
        <%= nav_link 'Home', user_projects_path(current_user) %>
      <% elsif current_user.role == 'Manager' %>
        <%= nav_link 'Home', manager_home_path %>
      <% end %>

      <% if can? :read, User, :index => true %>
        <%= nav_link 'Manage Users', users_path %>
      <% end %> 
      
      <% if current_user.role == 'Manager' %>
        <%= nav_link 'Manage Departments', university_departments_path(current_user.university) %>
      <% end %>

      <% if can? :manage, University %>
        <%= nav_link 'Manage Universities', universities_path %>
      <% end %>

      <% if current_user.role == 'Student' %>
        <!-- <li><a href="#">Timeline</a></li> -->
      <% end %>

      <% if current_user.role == 'Student' || current_user.role == 'Professor' %>
        <%= nav_link 'Notification Center', user_notifications_path(current_user) %>
      <% end %>
      
      <%= nav_link 'Reminders', user_reminders_path(current_user) %>
      <% if current_user.role == 'Student' %>
        <%= nav_link 'Project Guidelines', university_department_path(current_user.university_id, current_user.department_id) %>
      <% end %>
      <li><a href="#">Help</a></li>
    <% end %>
  </ul>
  
  <ul class="nav navbar-nav pull-right">
    <% if user_signed_in? %>
      <% if (current_user.first_name == nil && current_user.last_name == nil) || 
        (current_user.first_name.empty? && current_user.last_name.empty?) %>
        <% account_name = current_user.email %>
      <% else %>
        <% account_name = current_user.first_name + " " + current_user.last_name %>
      <% end %>
      <%= nav_link account_name, edit_user_registration_path %>
      
      <li>
      <%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %>
      </li>
    <% else %>
      <%= nav_link 'Sign in', new_user_session_path %>
    <% end %>
  </ul>
</nav>
