<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <%= link_to "TMS", root_path, :class => 'navbar-brand' %>
  </div>

  <ul class="nav nav-tabs navbar-nav">
    <% if user_signed_in? %>
      <%= nav_link 'Home', home_index_path %>
      <%= nav_link 'New Notifications', user_new_notifications_path(current_user) %>
      <% if can? :read, User, :index => true %>
        <%= nav_link 'Manage Users', users_path %>
      <% end %> 
      <% if current_user.role == 'Manager' %>
        <%= nav_link 'Manage Project Guidelines', university_departments_path(current_user.university) %>
      <% end %>
      <% if can? :manage, University %>
        <%= nav_link 'Manage Universities', universities_path %>
      <% end %>

      <li><a href="#">Timeline</a></li>
      <%= nav_link 'Notification Center', user_notifications_path(current_user) %>
      <%= nav_link 'Reminders', user_reminders_path(current_user) %>
      <% if current_user.role == 'Student' %>
        <%= nav_link 'Project Guidelines', university_department_path(current_user.university_id, current_user.department_id) %>
      <% end %>
      <li><a href="#">Help</a></li>
    <% end %>
  </ul>
  
  <ul class="nav navbar-nav pull-right">
    <% if user_signed_in? %>
      <%= nav_link current_user.first_name + " " + current_user.last_name, edit_user_registration_path %>
      <li>
      <%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %>
      </li>
    <% else %>
      <%= nav_link 'Sign in', new_user_session_path %>
    <% end %>
  </ul>
</nav>
