<!DOCTYPE html>
<html>
<head>
	<title>Tms</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= yield :head %>
	<%= csrf_meta_tags %>
</head>
  
<body>
    <%= render 'layouts/navigation' %>

    <% if user_signed_in? %>
		<div class="row">
			<div class="col-md-2">
				<%= render 'layouts/left_sidebar' %>
			</div>
			<div class="col-md-10" id="content-col">
				<%= yield %>
			</div>
		</div>
	<% else %>
		<%= yield %>
	<% end %>

	<footer><%= render 'layouts/navbar_bottom' %></footer>
</body>
</html>
