<!DOCTYPE html>
<html>
  <head>
    <title>Tms</title>
    <%= stylesheet_link_tag    "application", "bootstrap", "style", :media => "all" %>
    <%= javascript_include_tag "application", "bootstrap"  %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </div>
    </div>
<%= yield %>

  </body>
</html>
