<!DOCTYPE html>
<html>
<head>
	<title>Tms</title>
	<%= stylesheet_link_tag    "application", "bootstrap", "bootstrap-theme", :media => "all" %>
	<%= javascript_include_tag "application", "jquery-ui", "bootstrap", "pdf", "compatibility"  %>
	<%= yield :head %>
	<%= csrf_meta_tags %>
</head>
  
<body>
    
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<%= render 'layouts/navigation' %>
			</div>
		</div>
	</div>
     
	<div class="row">
		<div class="col-md-2">
			<%= render 'layouts/left_sidebar' %>
		</div>
		<div class="col-md-10" id="content-col">
			<%= yield %>
		</div>
	</div>

</body>
</html>
